.btn {
  display: inline-block;
  border: 1px solid black;
  padding: 0.25rem 0.5rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: black;
  text-decoration: none;
}

.center {
  max-width: 1200px;
  margin: 5rem auto;
  text-align: center;
}

input {
  margin-bottom: 2rem;
}
